@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.boton-gral, .boton-sombra2, .boton-sombra {
  border: none;
  border-radius: 1rem;
}


/*      Selectores      */
* {
  font-family: "Roboto", sans-serif;
}

/* SELECTORES DE ETIQUETAS */
body {
  font-size: 62.5%;
}

p {
  font-size: 1.5em;
}

header {
  margin: 0 auto;
}
header img {
  width: 100%;
}

nav div a img {
  width: 120px;
}

h1 {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
main{
  background-color: rgb(20, 198, 221);
}

/*Selectores de clase*/
.texto-tipografia2 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 1rem;
}

.texto-lobster {
  font-family: "Lobster", sans-serif;
}


.texto-derecha {
  text-align: right;
}

.bg-patron {
  background-image: url(../images/backgrounds/bubble.png);
}

.bg-patron2 {
  background-image: url(../images/backgrounds/bg2.png);
}

.bgpatron4 {
  background-image: url(../images/backgrounds/bg4.png);
}

.centrarimagen {
  display: block;
  margin: auto;
}

.texto-margen {
  padding: 2em;
}

/*Posición de los elementos */
.justify-items {
  justify-items: center;
}

.align-items {
  align-items: center;
}

.esquina-redonda {
  border-radius: 1rem;
}

.bg-test {
  border-color: red;
  border-width: 2rem;
  border-radius: 1rem;
  border: dotted 1px deeppink;
}



.bg-blue2 {
  background-color: rgb(20, 198, 221);
}

.bg-celda2 {
  background-color: rgb(226, 120, 178);
}

.piepagina {
  background-image: linear-gradient(180deg, #f3c9c9 0%, #6284FF 50%, rgb(88, 208, 230) 100%);
  padding: 20px;
  padding-bottom: 50px;
}
.piepagina h2 {
  font-family: "Lobster", sans-serif;
  font-size: 1.3rem;
  text-align: center;
}
.piepagina h3 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 1rem;
  text-align: right;
}
.piepagina div {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.piepagina div a svg {
  width: 60px;
  height: 60px;
  fill: rgb(44, 52, 160);
}

/*      media queries       */
@media (width < 768px) {
  .template-areas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "celda1" "celda2" "celda3" "celda4" "celda5";
  }
  svg {
    height: 30px;
    width: 30px;
  }
  /* productos */
  .productos figure {
    width: 90%;
  }
  .productos figure img {
    width: 80%;
  }
  .productos figure p {
    padding: 5px;
    font-size: 1.5em;
    line-height: 1.7em;
    margin: 5px;
  }
  /*      Nosotros breakpoint      */
  main div img {
    margin: 0;
    width: 80%;
  }
  /* Index */
  .indexflex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  main section div img {
    margin: 0;
    width: 60%;
  }
  .columna {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
@media (width < 576px) {
  .piepagina {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #f3c9c9 0%, #6284FF 50%, rgb(88, 208, 230) 100%);
    margin-top: 5px;
    padding: 10px;
    padding-bottom: 10px;
  }
  .piepagina h2 {
    font-family: "Lobster", sans-serif;
    font-size: 1rem;
    text-align: center;
  }
  .piepagina h3 {
    font-family: "Permanent Marker", sans-serif;
    font-size: 0.9rem;
    text-align: center;
  }
  .piepagina div {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  .piepagina div a svg {
    width: 40px;
    height: 40px;
    fill: rgb(238, 88, 108);
  }
}

/*# sourceMappingURL=main.css.map */